section.form-section
    .container  
        .title  
            h2.title.title__header Our Approch
            .title__text Check Our approches step by step (how we do it)

        .btn-down: a.arrow-down: img(src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/down3-20.png")
    
        .form-container 
            form(method="post" action="#").form
                button(type="button").form__close-button x
                .form__text
                    p Some text Some text Some text Some text Some text
                    p Some text Some text Some text Some text Some text
                .form__fields
                    input.form__input(type="text" placeholder="Your Name")
                    input.form__input(type="text" placeholder="Contact Number")
                    input.form__input(type="text" placeholder="Contact Name")

                button(type="submit").button.button--text-uppercase.button--red Submit now
