<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet",href="css/main.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body 
        include sections/header.pug
        include sections/hero.pug
        include sections/about.pug
        include sections/approch.pug
        include sections/work.pug
        include sections/form.pug