.nav {
    display: inline-block;
    padding-top: 7px;
    vertical-align: top;
    margin-right: 15px;
    
    &__link {
        display: inline-block;
        vertical-align: top;
        padding: 10px;
        //font-family: $ff-main-bold;
        text-decoration: none;
        text-transform: capitalize;
        color: #424242;
        transition: 0.3s;

        &:hover,
        &--active {
            color:#de2b24;
        }

        &:after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: #424242;
            margin-left: 10px; 
        }
        &:last-child:after {
            display: none;
        }

        
    }
}