.work {
    padding: 110px 0;
    background-color: #de2b24;
    color: #fff;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }

    .title--with--bottom-line {
        &:after {
            background: #fff;
        }
    }

    &__item {
        width: 233px;
        height: 216px;
        font-weight: bold;
        background: #f35e59;
        color: #ffffff;

        &--name {
            position: relative;
            padding: 130px 40px 75px 40px;
            text-align: center;
        }
    }

    &__name {
        font-weight: bold;
        font-size: 20px;
    }
}
